body {
    background-image: url("../img/concept.jpg");
    background-color: #cccccc;
    color:#DDDDDD;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
#container{
    display:inline-block;
    position:fixed;
    margin:0 auto;
    top:25%;
    left:35%;
    width:500px;
    height:540px;
}
#sign-up{
    display:inline-table;
    position:absolute;
    width:100%;
    float:top;
    bottom:0px;
    left:0px;
    height:40px;
}
#nav{
    /*background-color:#232323;*/
}
#login-container{
    display:inline-block;
    position:relative;
    width:500px;
    height:340px;
    float:left;
    top:0px;
}
#apps{
    position: absolute;
    display:inline-block;
    float:right;
    height:100px;
    width:100%;
    bottom: 0px;
    left:0px;
}

.img-resize{
    width:200px;
    height:auto;
}
.img-float{
    display:inline-block;
    position:relative;
    float:bottom;
    bottom:0px;
}
.in-field{
    height:50px;
}
.shadow{
    box-shadow:6px 4px 21px #222222;
}
.login-field{
    display:block;
    width:45%;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.text-center{
    text-align:center;
}
.header-title{
    display:block;
    width:100%;
    font-size:3em;
}
.header-sub{
    display:block;
    width:100%;
    font-size:1.5em;
}
.EULA{
    display:inline-table;
    position:relative;
    top:70px;
    width:100%;
    text-align:center;
    font-size:.7em;
}

/** nav-custom is used for customized styling for nav-bar imported from Bootstrap**/
.nav-custom{
    padding-top:12px;
    padding-bottom:12px;
    border:none;
}