body {
    background-image: url("../img/register_bg_2.jpg");
    background-color: #cccccc;
    color:#DDDDDD;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#container{
    display:inline-block;
    position:fixed;
    margin:0 auto;
    top:25%;
    left:35%;
    width:500px;
    height:340px;

}

#sign-up{
    display:inline-table;
    position:absolute;
    width:100%;
    float:top;
    bottom:0px;
    left:0px;
    height:50px;
}

.in-field{
    height:50px;
}

.shadow{
    box-shadow:6px 4px 21px #222222;
}
.login-field{
    display:block;
    width:45%;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}

.text-center{
    text-align:center;
}

.header-title{
    display:block;
    width:100%;
    font-size:3em;
}
.header-sub{
    display:block;
    width:100%;
    font-size:1.5em;
}

.EULA{
    display:inline-table;
    position:relative;
    top:70px;
    width:100%;
    text-align:center;
    font-size:.7em;
}